---
import { timelineData } from '../../data/timeline';
import { addNbsp } from '../../utility/Text';
const items = timelineData.map((item, index) => {
	return {
		title: item.title || '',
		text: item.text || '',
		year: item.year || '',
		delay: index * 120,
	};
});
---

<section
	class="bg-ink-900 py-12 md:py-14"
	aria-label="Časová osa"
	id="historie"
>
	<div class="mx-auto w-full max-w-[1190px]">
		<div class="px-4">
			<div
				class="text-parchment-100 section-eyebrow light font-medium uppercase"
				data-animate="fade-left"
			>
				<p
					class="ml-8 text-sm tracking-wide sm:ml-14 md:text-base"
					data-animate="fade-left"
				>
					Milníky historie
				</p>
			</div>
		</div>

		<div class="mt-10">
			<div class="swipe mx-auto w-full max-w-[1190px] px-4">
				<ul
					class="max-lg:scrollbar max-lg:scrollbar-thumb-ink-900 max-lg:scrollbar-track-parchment-100 max-lg:flex max-lg:snap-x max-lg:snap-mandatory max-lg:scroll-pr-4 max-lg:scrollbar-thin max-lg:overflow-auto lg:grid lg:grid-cols-6"
				>
					{
						items.map(({ title, text, year, delay }) => {
							return (
								<li
									style={`--transition-delay: ${delay}ms`}
									data-animate="fade-left"
									data-timeline="true"
									class="timeline-item before:bg-parchment-300 relative mb-6 before:absolute before:top-[49px] before:left-0 before:h-px before:content-[''] last:before:bg-transparent max-lg:flex-[0_0_15rem] max-lg:snap-start md:before:top-[56px] lg:mb-0"
								>
									<h2
										class="text-parchment-300 text-xl font-bold md:text-3xl"
										data-animate="fade-left"
									>
										{year}
									</h2>
									<span
										class="bg-parchment-300 my-4 inline-block h-[10px] w-[10px] rounded-full"
										data-animate="fade-left"
									/>
									<h3
										class="text-parchment-300 my-3 max-w-[10ch] uppercase"
										data-animate="fade-left"
									>
										{addNbsp(title)}
									</h3>
									<p
										class="text-parchment-50 pr-4"
										data-animate="fade-left"
									>
										{addNbsp(text)}
									</p>
								</li>
							);
						})
					}
				</ul>
			</div>
		</div>
	</div>
</section>
